In [1]:
name = "Venkat"
age = 45 

print(name)

Venkat

In [3]:
# Dynamic Typing 
var = 10 
print(var, type(var))

var = "Hello"
print(var, type(var))

var=3.14 
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [5]:
# input 
age = input("Enter your age:")
print(age,type(age))

40 <class 'str'>

In [ ]:
#  Simple calculator
num1=float(input("Enter first number:"))
num2=float(input("Enter second number:"))

sum=num1+num2 
sub=num1-num2
mul=num1*num2 
div=num1/num2 

print("Sum:", sum)
print("Substraction:", sub)
print("Multiply:", mul)
print("Division:", div)

Sum: 20.0
Substraction: 0.0
Multiply: 100.0
Division: 1.0

In [ ]:
### Data types 
# Introduction to datatypes 
# Importance of data types in programming 
# Basic data types:
    # Integers 
    # Floating point numbers 
    # Strings 
    # Booleans 
# Advanced data types 
    # Lists 
    # Tuples 
    # Sets 
    # Dictonaries

In [17]:
# Integers
age=45
type(age)

# floating point datatypes 
height=5.11
type(height)
print(type(height))

# boolean 
is_true=True
type(is_true)

is_true=bool
print(is_true)

a = 10 
b = 10 
a==b
type(a==b)

# common errors
result = "Hello" + 10.0

<class 'float'>
<class 'bool'>

TypeError: can only concatenate str (not "float") to str

In [ ]:
### Deep dive into operators 
# Introduction to Operators 
# Arithmetic operators 
    # Addition (a+b)
    # Subtraction (a-b)
    # Multiplication (a*b)
    # Division (a/b)   ---> Normal division
    # Floor Division (a//b) ---> floor division
    # Modulus (a%b) -----> Remainder
    # Exponentiation (a**b) 
# Logical operators 
    # AND
    # OR
    # NOT 

# Comparision operators 
    # Equal to 
    # Not equal to 
    # Greater than 
    # Less than 
    # Greater than or equal to 
    # Less than or equal to 

a=10
b=5

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

15
5
50
2.0
2
0
100000

In [28]:
# Comparision operators 
## ==
a=10
b=10

a==b

True

In [29]:
str1='Venkat'
str2="Venkat"

str1==str2

True

In [34]:
str3="Venkat"
str4="venkat"

str3==str4
str3!=str4

True

In [35]:
# logical operators 
X=True
Y=True

result=X and Y
print(result)

True

In [36]:
X=True
Y=False
result=X and Y
print(result)

False

In [38]:
X=True
Y=False
result=X or Y
print(result)

True

In [40]:
### Not operator
X=False

not X

True

In [44]:
#  Simple calculator
num1=float(input("Enter first number:"))
num2=float(input("Enter second number:"))

sum=num1+num2 
sub=num1-num2
mul=num1*num2 
div=num1/num2
floor_div=num1//num2
modulus=num1%num2
exp=num1**num2

print("Sum:", sum)
print("Substraction:", sub)
print("Multiply:", mul)
print("Division:", div)
print("Floor division:", floor_div)
print("modulus:", modulus)
print("Exponentiaion:", exp)

Sum: 17.0
Substraction: 3.0
Multiply: 70.0
Division: 1.4285714285714286
Floor division: 1.0
modulus: 3.0
Exponentiaion: 10000000.0

In [46]:
10//7

1

In [50]:
10//3

3

In [51]:
10/3

3.3333333333333335

In [ ]:
### Conditional Statements (if,elif,else)
# Introduction to conditional statements 
# if stmt     ===> evaluates the condition and execute the block of the code if the condition is "true"
# else stmt   ===> else statment executes a block of code if the condition in the if statement is "False"
# elif stmt   ===> The elif statement allows you to check multiple conditions.It stands for "else if"
# nested conditional statements  ===> You can place if, elif, or else statements inside another if, elif, or else statements.

### if statement 
age=20

if age>=18:
    print("You are allowed to vote in the elections")

You are allowed to vote in the elections

In [53]:
age>=18

True

In [54]:
## else statment
age=16
if age>=18:
    print("you are eligble for voting")
else:
    print("you are a minor")

you are a minor

In [57]:
### elif 
age=17

if age<12:
    print("You are a child")
elif age<=19:
    print("You are a teenager")
else:
    print("You are an adult")

You are a teenager

In [61]:
### Nested onditional statements 

# find if the number is even, odd, or negative
num=int(input("Enter your number:"))
if num>0:
    print("The number is positive")
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")
else:
    print("The number is Zero or negative")

The number is positive
The number is odd

In [63]:
### Use cases 

# Determine if a year is a leap year using nested conditional statement 

year = int(input("Enter the year:"))

if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year, "is a leap year")
        else:
            print(year,"is not a leap year")
    else:
        print(year,"is a leap year")
else:
    print(year,"is not a leap year")

2026 is not a leap year

In [70]:
# create a simple calculator 

num1=float(input("Enter first number:"))
num2=float(input("Enter second number:"))
op = input("Enter operation (+,-,*,/): ")

# perform the requested operation 

if op == "+":
    res = num1 + num2 
elif op == "-":
    res = num1 - num2
elif op == "*":
    res = num1 * num2 
elif op == "/":
    if num2 != 0:
        res = num1 / num2
    else:
        res = "Error! Division by Zero."
else:
    res = "Invalid operation"

print("Result:", res)

Result: 15.0

In [67]:
# Determine ticket price based on the age and student status 

age=int(input("Enter your age:"))
is_student= input("Are you a student? (yes/no): ").lower()

# Determine the ticket price 
if age < 5: 
    price = "Free"
elif age <= 12:
    price = "$10"
elif age <=19:
    if is_student == "yes":
        price = "$12"
    else:
        price = "$15"
elif age <=64:
    if is_student == "yes":
        price = "$18"

print("Ticket price:", price)

Ticket price: $10